@model Escuela.Core.Falta
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Curso</title>
</head>
<body>
    
    <button>
    <a asp-controller="" asp-action="Index">Inicio</a>
    </button>
    
</body>
</html>