@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Escuela</title>
</head>
    <body>
        <a asp-controller="Curso" asp-action="Index">Ver Cursos</a>
        <a asp-controller="Curso" asp-action="FormAlta">Alta Cursos</a>
    </body>
</html>