@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Escuela</title>
</head>
    <body>
        <a asp-controller="Curso" asp-action="Index">Ver Cursos</a> <br/>

        <a asp-controller="Curso" asp-action="FormAlta">Alta Cursos</a> <br/><br/>

        <a asp-controller="Alumno" asp-action="Index">Ver Alumno</a> <br/>

        <a asp-controller="Alumno" asp-action="FormAlta">Alta Alumno</a>
    </body>
</html>