@model IEnumerable<Escuela.Core.Curso>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Curso</title>
</head>
<body>
    
    <h5>Curso</h5>

    <table>
        <thead>
            <tr><td>Nombre</td> <td>Apellido</td></tr>
        </thead>
        <tbody>
            @foreach (Escuela.Core.Curso curso in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Curso" asp-action="Detalle" asp-route-id="@curso.Id">@curso.Division</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
